<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuestas  - Índice</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'encuestas/style.css' %}">

</head>
<body>
    {% if listaPreguntasRecientes %}
    <ul>
        {% for pregunta in listaPreguntasRecientes %}
        <!-- Este enlace esta 'hardcoded', es mejor ponerlo de la manera en la que django
             nos permite modificar la url desde urls.py y que se guarde el cambio aqui -->
        {% comment %} <li><a href="/encuestas/{{ pregunta.id }}/"> {{ pregunta.textoPregunta }} </a></li> {% endcomment %}
        <li><a href="{% url 'encuestas:detalles' pregunta.id %}">{{ pregunta.textoPregunta }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Todavía no hay encuestas</p>
    {% endif %}
</body>
</html>