<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Encuestas</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'encuestas/style.css' %}">
    
</head>
<body>
    <header>
        <h1 class="titulo-cabecera">Your_Polls</h1>
        <nav>
            <a href="{% url 'encuestas:index' %}">Inicio</a>
            <a href="{% url 'admin:index' %}">Panel de Administrador</a>
        </nav>
    </header>

    <main>
        <h1 class="titulo">{{ pregunta.textoPregunta }}</h1>
        
        <ul>
        {% for eleccion in pregunta.eleccion_set.all %}
            <li>{{ eleccion.textoEleccion }}: {{ eleccion.votos }} Voto{{ eleccion.votos|pluralize }}</li>
        {% endfor %}
        </ul>
    
        <a href="{% url 'encuestas:detalles' pregunta.id %}">Votar de nuevo</a>
    </main>

</body>
</html>